@tailwind base;
@tailwind components;
@tailwind utilities;

.main-div{
    background: linear-gradient(to bottom right, #18273F, #0D131D);
}

.auth-card-box {
    background-color: #18273F;
}

.login-btn{
    background-color: #f48f00;
}

.login-btn:hover{
    background-color: #f48e00af;
}
.auth-forms input, .gender-input{
    border-color: #f48f00;
}
